body{
    margin: 0;
    font-family: 'comic sans ms';
}
.padding-interna{
   width: 100%;
   max-width: 780px;
   margin: 0 auto;
}
.caixa-pequena{
    height: 100px;
    position: relative;
}
/* seção 1 */
.secao-1{
    height: 110px;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.relative{
    position: relative;
}

.menu-logo{
    width: 400px;
    height:100px;
    position: relative;
    left: 0;
    top: 4px;
}
.menu-logo img{
    height: 60px;
    position: absolute;
    top:20px;
    left: 0;
}
.menu-logo h1, .menu-logo h2{
    position: absolute;
    line-height: 15px;
    top: 5px;
    left: 71px;
}
.menu-logo h2{
    top: 40px;
    color: rgb(76, 127, 221);
    font-size: 15px;
    margin-top: 15px;
}
.menu-botoes{
    height: 45px;
    top: 25px;
    width: 410px;
    right: 0;
    font-size: 15px;
    position: absolute;
    padding: 1px;
}
.menu-botoes li{
    list-style: none;
    display: inline; 
}
.menu-botoes a{
text-decoration: none;
padding: 3px 2px;
margin: 0 1px;
font-weight: bold;
}
/* seção 2 */
    .secao-2{
        height: 450px;
        position: relative;
        background-color: rgb(76, 127, 221) ;
        padding: 1px 0;
        color: white;
    }
    .secao2-texto{
        margin: 120px 0;
    }
    .secao-2 p{
        font-size: 14px;
        line-height: 22px;
    }
    .secao-2 p, .secao-2 h3{
        width: 340px;
    }
    .secao-2 h3{
        width: 360px;
        margin: 25px 0;
        font-size: 23px;
    }
    .secao-2 img{
        position: absolute;
        right: 0;
        top: -70px;
        height: 320px;
    }
/* seção 3 e seção 6 */
.secao-3, .secao-6{
    background-color: rgb(24, 24, 75);
    padding: 1px 0;
    color: white;
}
#precos a, .secao-6 a{
position: absolute;
top: 23px;
right: 0;
color: white;
text-decoration: none;
padding: 15px 10px;
background-color: rgb(76, 127, 221);
font-weight: bold;
border-radius: 2px;
}
#precos img, .secao-6 img{
margin-right: 7px;
    }
#precos h3 , #precos p, .secao-6 h3 {
    position: absolute;
    top:05px;
}
#precos p{
    line-height: 8px;
    top: 40px;
}

.secao-6 h3{
    width: 430px;
}
.secao-6 {
    background-color: rgb(76, 127, 221);
}
.secao-6 a{
    background-color: rgb(24, 24, 75);
}
/*seção 4*/
#informacoes{
    height: 400px;
    position: relative;

}
#informacoes h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 650px;
    font-size: 25px;
    text-align: center;
}
#informacoes span , #planos2 h3 span{
color: rgb(76, 127, 221);
}
#informacoes div{
    position:absolute;
    width: 268px;
    padding: 0 1px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}
#informacoes h4{
    text-align: center;
}
#informacoes p{
    font-size: 14px;
}
.secao-4 img{
    width: 85px;
}
.terceira-parte{
    right: 0;
}
.segunda-parte{
    left: 270px;
}
/*seção 5*/
.secao-5{
    background-color: rgb(234, 241, 245) ;
    height: 640px;
    padding: 1px;
    font-family: sans-serif;
}
.secao-5 h3{
margin: 60px auto 50px auto;
text-align: center;
width: calc(100%-2);
font-size: 26px;

}
#planos2 table{
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px 15px rgba(88, 129, 206, 0.7) ;
    background-color: white;
    text-align: center;
}
#planos2 img{
    width: 100px;
    height: 80;
    margin: 0;
}
#planos2 h4{
    line-height: 15px;

}

#planos2 th p{
    color: rgb(143, 132, 132);
    font-size: 12px;
    width: 100px;
    font-weight: normal;
    margin: 5px auto;
}
#planos2 th,#planos2 td,#planos2 tr{
border-color: rgb(243, 235, 235);
border-width: 2px;
border-style: solid;
border-spacing: 30px;
width: 190px;
padding: 3px;
margin: 0;
}
#planos2 tbody tr{
    height: 40px;
}
#planos2 tbody .background-outro{
    background-color: rgb(243, 235, 235);
}
