body{
    margin: 0;
    font-family: verdana;
}
.largura-maxima{
    width: calc(100%-2px);
    max-width: 1024px;
    margin: 0 auto;
    padding: 1px;
}
/*secao 1*/
.secao-1{
    background-color: rgb(255, 255, 255);
    padding: 1px;
    height: 80px;
    text-align: center;
}
.secao-1 .largura-maxima{
    margin: 20px auto;
}

.secao-1 h1, .secao-1 p{
    display: inline;
    margin-top: 20px;
    height: 30px;
}
.secao-1 p{
    color: rgb(219, 175, 121);
}

/*secao 2*/
.secao-2{
    background-color: rgb(243, 245, 245);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}
.card{
    border: 1px solid rgb(173, 170, 170);
    box-shadow: 0 0 8px 3px rgb(170, 168, 168);
    width: 300px;
    flex-grow: 1;
    border-radius: 10px;
}
.card-imagem img{
    width: 100%;
    height: 100%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-descricao{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 150px;
}
.card-descricao h2{
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    }
.card-descricao p{
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.card-preco{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.card-preco p{
    font-weight: bold;
}
.card-preco a{
    border: 1px solid black;
    border-radius: 8px;
    height: 20px;
    padding: 3px;
    margin: 0;
}
.card-preco a img{
    height: 20px;
    width: 20px;
}
